div {
    margin-bottom: 15px;
    padding: 10px 30px 10px 30px;
    background-color: #dff0d8;
    border-radius: 5px;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  h1 {
    color: #618ad2;
  }

  p {
      font-size: 17px;
  }