
  <!DOCTYPE HTML>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About myself</title>
      </head>
      <body>
        <div class = "text">
          <h1> Natalya Tretyak</h1>
          <p>Hello! My name is Natalya. I was born and raised in Zaporizhzhya.
            I graduated Odessa national academy of telecommunications. In Ivano-Frankivsk
            I have been living for 10 years. My hobby is sewing. I like it 
            because it helps me relax and I can create something unique.
          </p>
        </div>
      </body>
    </html>
