div {
    margin-bottom: 15px;
    padding: 10px 30px 10px 30px;
    background-color: #dff0d8;
    border-radius: 5px;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  h1 {
    color: #618ad2;
  }

  p {
      font-size: 17px;
  }

  nav {
    display: block;
    width: 74.5%;
    margin: auto;
  }

  .menu ul {
    background: #dff0d8;
    overflow: hidden;
    padding: 0;
  }
  .menu li {
    list-style: none;
    float: right;
  }
  .menu a {
    font-size: 17px;
    display: block;
    padding: 1em;
    border-left: 1px solid white;
    color: #618ad2;
    text-decoration: none;
  }
  .menu a:hover {background: #d0e9c6}
